.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  overflow-y: auto;
}

.thumbnail {
  height: 235px;
  width: 100%;
  object-fit: cover;
}

.post-details {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.line {
  height: 2px;
  width: 100%;
}

.post-featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.date {
  font-size: 13px;
  color: rgb(77, 77, 77);
}
